@import './base/normalize';

// Abstract
@import './abstract/constants';
@import './abstract/mixins';
@import './abstract/placeholders';

// Base
@import './base/base';
@import './base/buttons';
@import './base/icons';

// Components
@import './components/game';
@import './components/game-view';
@import './components/code-editors';
@import './components/levels';

// Layouts
@import './layouts/header';
@import './layouts/footer';
