html {
  font-size: 10px;
}

main {
  display: flex;
  justify-content: space-around;
}

.hljs-tag {
  display: block;
  font-size: 14px;
}
.tab {
  padding-left: 15px;
}
.hovered {
  box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.4);
}
p.hovered {
  background: #737373;
}

.increase {
  transform: scale(1.05);
  transition: 0.5s ease-in-out transform;
}
.decrease {
  transform: scale(0.95);
  transition: 0.5s ease-in-out transform;
}
quarter.increase {
  transform: scale(1.02);
}
quarter.decrease {
  transform: scale(0.98);
}