.game {
  flex-basis: 65%;
  background-color: rgba($color: #000000, $alpha: 0.2);

  display: flex;
  flex-direction: column;

  &__editor {
    display: flex;
    border-radius: 5px;
    border: 8px rgba($color: #000000, $alpha: 0.6) solid;

    & > * {
      flex-basis: 50%;
    }
  }
}
