.levels {
  flex-basis: 26%;
  background-color: rgba($color: #212121, $alpha: 0.8);

  &__title {
    font-size: 3rem;
    font-weight: 400;
    margin: 10px;
  }

  &__reset {
    margin: 40px auto 20px;
  }
}

.level {
  &-number {
    margin: 0 15px;
  }

  &-title {
    margin: 0;
  }
}
