$table-width: 575px;
$table-height: 300px;
$border-width: 16px;
$border-radius: 10px;
$hole-size: 35px;
$quarter-border-width: 2px;
$ball-size: 28px;

$table-light-color: #16a757;
$table-dark-color: #116336;

$border-color: #4e342e;
$pocket-color: #595959;

// balls colors
$yellow-color: #ecec05;
$blue-color: #108cf7;
$red-color: #ec1616;
$violet-color: #a013a0;
$orange-color: #ff9900;
$aqua-color: #34d8ab;
$valencia-color: #ce5151;
$black-color: #000000;
