$table-width: 575px;
$table-height: 300px;
$border-width: 16px;
$border-radius: 10px;
$hole-size: 35px;
$quarter-border-width: 2px;
$ball-size: 28px;

$table-light-color: #16a757;
$table-dark-color: #116336;

// $cue-color: #d2ae2a;
$border-color: #4e342e;
$pocket-color: #595959;

// balls colors
$zero-color: #fff;
$one-color: #ecec05;
$two-color: #108cf7;
$three-color: #ec1616;
$four-color: #a013a0;
$five-color: orange;
$six-color: #34d8ab;
$seven-color: #ce5151;
$eight-color: #000;
$nine-color: #ecec05;
$ten-color: #108cf7;
$eleven-color: #ec1616;
$twelve-color: #a013a0;
$thirteen-color: orange;
$fourteen-color: #34d8ab;
$fifteen-color: #ce5151;
